{% extends "::base.html.twig" %}
{% block body %}
    {{ form_start(Form) }}
    {% form_theme Form 'bootstrap_3_layout.html.twig' %}
    <h1>Eliminacion</h1>
    <p>¿Esta seguro de eliminar este profesor?</p>
    <p>{{ Form.nomProf.vars.value }}</p>
    <a href="{{ path('profesorall') }}">No</a>
    {{ form_row(Form.Si) }}
    {{ form_end(Form) }}
{% endblock %}